body,html{
    width: 100%;
    margin: 0;
}

/*clearfix*/
.clearfix:before, .clearfix:after{content:"";display:table;}
.clearfix:after{clear: both;}
.clearfix{*zoom: 1;}

*{
    box-sizing: border-box;
}

p{
    margin: 0;
}

a{
	color: initial;
	text-decoration: none;
}

a,p,div{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    user-drag: none; 
}

































